@*
 * Copyright 2021 HM Revenue & Customs
 *
 *@

@()(implicit request: Request[_], lang : Lang, messages : Messages)

<section id="content" class="l-constrained--topBordered">
    <div class="govuk-box-highlight" style="background:#00703c">
        <h1 class="bold-xlarge flush--top flush--bottom">@Messages("accessibility.confirmation.title")</h1>
    </div>

    <h2 id="feedback-thank-you-header">@Messages("accessibility.confirmation.subheading")</h2>
    <p>@Messages("accessibility.confirmation.paragraph")</p>

    <p>@Messages("accessibility.close.window")</p>


</section>