@*
 * Copyright 2021 HM Revenue & Customs
 *
 *@

@this()

@(accessibilityForm: Form[model.AccessibilityForm],
  submitUrl: String,
  renderFormOnly: Boolean = false)(implicit request: Request[_], lang : Lang, messages : Messages)

@import uk.gov.hmrc.play.views.html.helpers._

@if(accessibilityForm.hasErrors) {
    <div class="error-summary error-summary--show" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">

        <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
        @messages("error.summary.title")
        </h2>

        <ul role="list" class="error-summary-list">
        @accessibilityForm.errors.map{ error:FormError =>
            <li><a href="#@{error.key}">@messages(error.message, error.args:_*)</a></li>
        }
        </ul>

    </div>
}


@if(!renderFormOnly) {
    <header class="page-header">
        <h1>@Messages("accessibility.heading")</h1>
    </header>
    <p>@Messages("accessibility.message.para1")</p>
    <p>@Messages("accessibility.message.para2")</p>
}



<form action="@submitUrl" method="POST" class="form--feedback" novalidate="novalidate" id="accessibility-form">
    <input type="hidden" name="csrfToken" value="@accessibilityForm("csrfToken").value"/>

    <input type="hidden" name="service" id="service" value="@accessibilityForm("service").value"/>
    @input_textarea(
        field = accessibilityForm("problemDescription"),
        label = Messages("accessibility.problem.label"),
        labelClass = Some("heading-large"),
        charLimit = Some(2000)
    )

    <h2 class="heading-large">@Messages("accessibility.subheading.contact")</h2>

    @input_text(
        accessibilityForm("name"),
        label = Messages("form.name"),
        inputClass = Some("form-control-3-4")
    )

    @input_text(
        accessibilityForm("email"),
        label =  Messages("accessibility.email.label"),
        inputClass = Some("form-control-3-4"),
        hint = Some(Messages("accessibility.email.hint")),
        inputType = Some("email")
    )

    <input type="hidden" name="isJavascript" id="isJavascript" value="@accessibilityForm("isJavascript").value">
    <input type="hidden" name="referrer" id="referrer" value="@accessibilityForm("referrer").value">
    <input type="hidden" name="userAction" id="userAction" value="@accessibilityForm("userAction").value">

    <div class="form-field">
        <button class="button" type="submit">@Messages("accessibility.button")</button>
    </div>
</form>