@(contactForm: Form[controllers.ContactForm], externalContactHmrcUrl: String, renderFormOnly: Option[Boolean] = None)(implicit request: Request[_], lang : Lang)

@import uk.gov.hmrc.play.views.html.helpers._

@if(!renderFormOnly.getOrElse(false)) {
    <header class="page-header">
        <h1>@Messages("contact.heading")</h1>
    </header>
    <p>@Html(Messages("contact.form.specific.query", uk.gov.hmrc.urls.Link.toExternalPage(url = "http://search2.hmrc.gov.uk/kb5/hmrc/contactus/home.page", value = Some("contact HMRC"), dataAttributes = Some(Map
            ("journey-click" -> "contact-page:Click:Contact HMRC"))).toHtml))</p>
    <p>@Messages("contact.form.please.fill")</p>

    <h2>@Messages("contact.form.how.help")</h2>
    <p>@Messages("contact.form.personal.info")</p>
}

<form action="@externalContactHmrcUrl" method="POST" class="form--feedback" novalidate="novalidate">
    <input type="hidden" name="csrfToken" value="@contactForm("csrfToken").value"/>

    <input type="hidden" name="service" value="@contactForm("service").value"/>

    <fieldset>
        @input(
        contactForm("contact-name"),
        '_label -> Messages("form.your.name"),
        '_divClass -> "form-field",
        '_inputClass -> "input--fullwidth"
        )
        @input(
        contactForm("contact-email"),
        '_label -> Messages("form.email.address"),
        '_divClass -> "form-field",
        '_inputClass -> "input--fullwidth",
        '_type -> "email"
        )
        @textArea(
        contactForm("contact-comments"),
        '_label -> Messages("form.your.comments"),
        '_divClass -> "form-field char-counter",
        '_inputClass -> "input--fullwidth",
        '_maxlength -> "2000",
        '_dataCharCounter -> "true",
        '_dataCharField -> "true"
        )

        <input type="hidden" name="isJavascript" id="isJavascript" value="@contactForm.data.get("isJavascript")">
        <input type="hidden" name="referer" id="referer" value="@contactForm.data.get("referer")">

        <div class="form-field">
            <button class="button" type="submit">@Messages("form.send")</button>
        </div>

    </fieldset>
</form>