@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@import config.AppConfig
@import uk.gov.hmrc.play.views.html._

@this(errorFeedbackInner: views.html.partials.error_feedback_inner)

@(form : Form[model.ProblemReport], actionUrl: String, csrfToken: Option[String], service : Option[String], referrer : Option[String])(implicit request : Request[_], lang : Lang, messages : Messages, appConfig : AppConfig)

<div class="report-error">

    <a class="report-error__toggle js-visible" id="get-help-action" href="#error-feedback-form">@messages("common.feedback.get.help")</a>

    <div class="report-error__content js-hidden">
        @errorFeedbackInner(form, actionUrl, csrfToken, service, referrer)
    </div>
</div>