@import util.GetHelpWithThisPageFeatureFieldHints
@import util.GetHelpWithThisPageMoreVerboseHeader
@import util.GetHelpWithThisPageNewLargeInputFields
@import util.GetHelpWithThisPageImprovedFieldValidation
@import config.AppConfig
@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.play.views.html.helpers._
@import views.helpers.ServiceParameter.extractServiceParameter
@(problemReportForm : Form[controllers.ProblemReport], actionUrl: String, csrfToken: Option[String], service : Option[String])(implicit request : Request[_], lang : Lang, messages : Messages, appConfig : AppConfig)

@if(appConfig.hasFeature(GetHelpWithThisPageMoreVerboseHeader, service)) {
    <h2>@Messages("common.feedback.title.b")</h2>
    <p>@Messages("common.feedback.information.warning1.b")</p>
    <p>@Messages("common.feedback.information.warning2.b")</p>
    <p>@Messages("common.feedback.information.warning3.b")</p>
} else {
    <h2>@Messages("common.feedback.title")</h2>
    <p>@Messages("common.feedback.information.warning")</p>
}

<form action="@actionUrl" method="POST" id="error-feedback-form" class="form--feedback" novalidate>
    @if(csrfToken.isDefined) {
    <input type="hidden" name="csrfToken" value="@{csrfToken.get}"/>
    }

    <input type="hidden" name="service" id="feedbackService" value="@extractServiceParameter(problemReportForm, None)"/>

    <div id="largeInputFields" class="js-visible js-hidden">
        @input_radio_group(
        feedbackForm("feedback-rating"),
        Vector(("5",Messages("form.online.services.very_good")), ("4",Messages("form.online.services.good")), ("3",Messages("form.online.services.neutral")), ("2",Messages("form.online.services.bad")), ("1",Messages("form.online.services.very_bad"))),
        '_legend -> Messages("form.online.services"),
        'divClass -> "multiple-choice"
        )
        <br/>
        @input(
        feedbackForm("feedback-name"),
        '_label -> Messages("form.name"),
        '_divClass -> "form-field",
        '_inputClass -> "input--fullwidth"
        )
        @input(
        feedbackForm("feedback-email"),
        '_label -> Messages("form.email.address"),
        '_divClass -> "form-field",
        '_inputClass -> "input--fullwidth",
        '_type -> "email"
        )
        @textArea(
        feedbackForm("feedback-comments"),
        '_label -> Messages("form.comments"),
        '_info -> Messages("common.feedback.information.warning"),
        '_divClass -> "form-field char-counter",
        '_inputClass -> "input--fullwidth",
        '_maxlength -> "2000",
        '_dataCharCounter -> "true",
        '_dataCharField -> "true"
        )
        <input type="hidden" name="isJavascript" id="isJavascript" value="@feedbackForm.data.get("isJavascript")">
        <input type="hidden" name="referer" id="referer" value="@feedbackForm.data.get("referer")">
        <input type="hidden" name="canOmitComments" id="canOmitComments" value="@canOmitComments">
        @for(url <- backUrl) {
        <input type="hidden" name="backUrl" id="feedbackBackUrl" value="@url">
        }

        <div class="form-field">
            <button class="button" type="submit">@Messages("form.send")</button>
        </div>
    </div>

    <fieldset id="smallInputFields">
        <legend class="visuallyhidden">@Messages("common.feedback.title")</legend>

        @input(
        problemReportForm("report-name"),
        '_label -> Messages("form.name"),
        '_divClass -> "form-field",
        '_inputClass -> "input--cleared form-control",
        '_maxlength -> "70"
        )

        @input(
        problemReportForm("report-email"),
        '_label -> Messages("problem_report.email"),
        '_divClass -> "form-field",
        '_inputClass -> "input--cleared form-control",
        '_maxlength -> "255",
        '_type -> "email"
        )

        @textArea(
        problemReportForm("report-action"),
        '_label -> Messages("problem_report.action"),
        '_divClass -> "form-field",
        '_inputClass -> "input--cleared form-control",
        '_maxlength -> "1000"
        )

        @textArea(
        problemReportForm("report-error"),
        '_label -> Messages("problem_report.error"),
        '_divClass -> "form-field",
        '_inputClass -> "input--cleared form-control",
        '_maxlength -> "1000"
        )

        <input type="hidden" name="isJavascript" id="isJavascript" value="@problemReportForm.data.get("isJavascript")">
        <input type="hidden" name="referer" id="referer" value="@problemReportForm.data.get("referer")">
        <input type="hidden" name="version" value="v1"/>
        <div class="form-field">
            <button id="report-submit" class="button" type="submit" data-journey-click="page:Click:Get help with this page Submit">@Messages("form.send")</button>
        </div>
    </fieldset>


</form>

