@import config.AppConfig
@(problemReportForm : Form[controllers.ProblemReport], actionUrl: String, csrfToken: Option[String])(implicit request : Request[_], lang : Lang, messages : Messages, appConfig : AppConfig)
@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.play.views.html.helpers._
@import views.helpers.ServiceParameter.extractServiceParameter

<h2>@Messages("common.feedback.title.b")</h2>
<p>@Messages("common.feedback.information.warning1.b")</p>
<p>@Messages("common.feedback.information.warning2.b")</p>
<p>@Messages("common.feedback.information.warning3.b")</p>

<form action="@actionUrl" method="POST" id="error-feedback-form" class="form--feedback" novalidate>
    @if(csrfToken.isDefined) {
    <input type="hidden" name="csrfToken" value="@{csrfToken.get}"/>
    }

    <input type="hidden" name="service" id="feedbackService" value="@extractServiceParameter(problemReportForm, None)"/>

    @input(
    problemReportForm("report-name"),
    '_label -> Messages("form.name"),
    '_divClass -> "form-field",
    '_inputClass -> "input--fullwidth"
    )

    @input(
    problemReportForm("report-email"),
    '_label -> Messages("problem_report.email.b"),
    '_divClass -> "form-field",
    '_inputClass -> "input--fullwidth"
    )

    @textArea(
    problemReportForm("report-action"),
    '_label -> Messages("problem_report.action.b"),
    '_divClass -> "form-field",
    '_inputClass -> "input--fullwidth",
    '_maxlength -> "1000",
    '_info -> Messages("problem_report.action.hint.b"),
    '_help -> Messages("problem_report.common.size_limit", 1000)
    )

    @textArea(
    problemReportForm("report-error"),
    '_label -> Messages("problem_report.error.b"),
    '_divClass -> "form-field",
    '_inputClass -> "input--fullwidth",
    '_maxlength -> "1000",
    '_info -> Messages("problem_report.error.hint.b"),
    '_help -> Messages("problem_report.common.size_limit", 1000)
    )

    <input type="hidden" name="isJavascript" id="isJavascript" value="@problemReportForm.data.get("isJavascript")">
    <input type="hidden" name="referer" id="referer" value="@problemReportForm.data.get("referer")">
    <input type="hidden" name="version" value="v1"/>
    <div class="form-field">
        <button id="report-submit" class="button" type="submit" data-journey-click="page:Click:Get help with this page Submit">@Messages("form.send")</button>
    </div>
</form>

