@(problemForm: Form[controllers.ProblemReportV2], actionUrl: String, csrfToken: Option[String], service: Option[String], useSecure: Boolean)(implicit request : Request[_], lang : Lang, messages : Messages)
@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.play.views.html.helpers._

<h2>@Messages("common.feedback.title")</h2>
<p>@Messages("common.feedback.information.warning")</p>

<form action="@actionUrl" method="POST" class="form--feedback" novalidate="novalidate">
    @if(csrfToken.isDefined) {
    <input type="hidden" name="csrfToken" value="@{csrfToken.get}"/>
    }

    @if(service.isDefined) {
    <input type="hidden" name="service" value="@{service.get}"/>
    }

    @input(
        problemForm("report-name"),
        '_label -> Messages("form.name"),
        '_divClass -> "form-group-compound",
        '_inputClass -> "input--fullwidth"
    )
    @input(
        problemForm("report-email"),
        '_label -> Messages("problem_report.email"),
        '_divClass -> "form-group-compound",
        '_inputClass -> "input--fullwidth",
        '_type -> "email"
    )
    @input(
        problemForm("report-action"),
        '_label -> Messages("problem_report.action"),
        '_divClass -> "form-group-compound",
        '_inputClass -> "input--fullwidth",
        '_type -> "text"
    )
    @input(
        problemForm("report-error"),
        '_label -> Messages("problem_report.error"),
        '_divClass -> "form-group-compound",
        '_inputClass -> "input--fullwidth",
        '_type -> "text"
    )

        <input type="hidden" name="isJavascript" value="false"/>
        <input type="hidden" name="referrer" value="@{request.headers.get("referer").getOrElse("")}"/>
        <input type="hidden" name="use-secure" id="use-secure" value="@useSecure" />

        <div class="form-field">
            <button id="report-submit" class="button" type="submit" data-journey-click="page:Click:Get help with this page Submit">@Messages("form.send")</button>
        </div>
    </fieldset>
</form>