@(actionUrl: String, csrfToken: Option[String], service: Option[String])(implicit request : Request[_], lang : Lang)
@import uk.gov.hmrc.play.views.html._

<h3 class="h2-heading">@Messages("common.feedback.title")</h3>
<p>
    @Messages("common.feedback.information.warning")
</p>

<form action="@actionUrl" method="POST" class="form--feedback" novalidate>
    @if(csrfToken.isDefined) {
    <input type="hidden" name="csrfToken" value="@{csrfToken.get}"/>
    }

    @if(service.isDefined) {
    <input type="hidden" name="service" value="@{service.get}"/>
    }

    <fieldset>
        <div class="form-group-compound">
            <label for="report-name" class="form-label">@Messages("form.name")</label>
            <input id="report-name" maxlength="70" class="input--fullwidth form-control" name="report-name" type="text"  data-rule-letterswithbasicpunc="true" data-rule-required="true" data-msg-required='@Messages("error.common.problem_report.name_mandatory")'>
        </div>
        <div class="form-group-compound">
            <label for="report-email" class="form-label">@Messages("problem_report.email")</label>
            <input id="report-email" maxlength="255" class="input--fullwidth form-control" name="report-email" type="email" data-rule-required="true" data-rule-email="true" data-msg-required='@Messages("error.common.problem_report.email_mandatory")'>
        </div>
        <div class="form-group-compound">
            <label for="report-action" class="form-label">@Messages("problem_report.action")</label>
            <input id="report-action" maxlength="1000" class="input--fullwidth form-control" name="report-action" type="text" data-rule-required="true" data-msg-required='@Messages("error.common.problem_report.action_mandatory")'>
        </div>
        <div class="form-group-compound">
            <label for="report-error" class="form-label">@Messages("problem_report.error")</label>
            <input id="report-error" maxlength="1000" class="input--fullwidth form-control" name="report-error"  type="text" data-rule-required="true" data-msg-required='@Messages("error.common.problem_report.error_mandatory")'>
        </div>
        <input type="hidden" name="isJavascript" value="false"/>
        <input type="hidden" name="referrer" value="@{request.headers.get("referer").getOrElse("")}"/>
        <div class="form-field">
            <button id="report-submit" class="button" type="submit" data-journey-click="page:Click:Get help with this page Submit">@Messages("form.send")</button>
        </div>
    </fieldset>
</form>

