@(problemForm: Form[controllers.ProblemReportV2], actionUrl: String, csrfToken: Option[String], service: Option[String])(implicit request : Request[_], lang : Lang, messages : Messages)
@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.play.views.html.helpers._

<h2>@Messages("common.feedback.title")</h2>
<p>@Messages("common.feedback.information.warning")</p>

<form action="@actionUrl" method="POST" class="form--feedback" novalidate="novalidate">
    @if(csrfToken.isDefined) {
    <input type="hidden" name="csrfToken" value="@{csrfToken.get}"/>
    }

    @if(service.isDefined) {
    <input type="hidden" name="service" value="@{service.get}"/>
    }

    <label class="form-label">@Messages("form.name")</label>
    @input(
        problemForm("report-name"),
        '_divClass -> "form-group-compound",
        '_inputClass -> "input--fullwidth form-control"
    )

    <label class="form-label">@Messages("problem_report.email")</label>
    @input(
        problemForm("report-email"),
        '_divClass -> "form-group-compound",
        '_inputClass -> "input--fullwidth form-control",
        '_type -> "email"
    )

    <label class="form-label">@Messages("problem_report.action")</label>
    @input(
        problemForm("report-action"),
        '_divClass -> "form-group-compound",
        '_inputClass -> "input--fullwidth form-control",
        '_type -> "text"
    )

    <label class="form-label">@Messages("problem_report.error")</label>
    @input(
        problemForm("report-error"),
        '_divClass -> "form-group-compound",
        '_inputClass -> "input--fullwidth form-control",
        '_type -> "text"
    )

        <input type="hidden" name="version" value="v2"/>
        <input type="hidden" name="isJavascript" value="true"/>
        <input type="hidden" name="referrer" value="@{request.headers.get("referer").getOrElse("")}"/>

        <div class="form-field">
            <button id="report-submit" class="button" type="submit" data-journey-click="page:Click:Get help with this page Submit">@Messages("form.send")</button>
        </div>
    </fieldset>
</form>