@import config.AppConfig
@import util.GetHelpWithThisPageNewWordingOfEntryLink
@(form : Form[controllers.ProblemReport], actionUrl: String, csrfToken: Option[String], service : Option[String])(implicit request : Request[_], lang : Lang, messages : Messages, appConfig : AppConfig)
@import uk.gov.hmrc.play.views.html._

<div class="report-error">

    @if(appConfig.hasFeature(GetHelpWithThisPageNewWordingOfEntryLink, service)) {
        <a class="report-error__toggle js-visible" id="get-help-action" href="#error-feedback-form">@Messages("common.feedback.get.help.b")</a>
    } else {
        <a class="report-error__toggle js-visible" id="get-help-action" href="#error-feedback-form">@Messages("common.feedback.get.help")</a>
    }

    <div class="report-error__content js-hidden">
        @views.html.partials.error_feedback_inner(form, actionUrl, csrfToken, service)
    </div>
</div>