@import config.AppConfig
@import util.GetHelpWithThisPageFeature_A
@(form : Form[controllers.ProblemReport], actionUrl: String, csrfToken: Option[String])(implicit request : Request[_], lang : Lang, messages : Messages, appConfig : AppConfig)
@import uk.gov.hmrc.play.views.html._

<div class="report-error">

    @if(appConfig.hasFeature(GetHelpWithThisPageFeature_A)) {
        <a class="report-error__toggle js-visible" id="get-help-action" href="#error-feedback-form">@Messages("common.feedback.get.help")</a>
    } else {
        <a class="report-error__toggle js-visible" id="get-help-action" href="#error-feedback-form">@Messages("common.feedback.get.help.b")</a>
    }

    <div class="report-error__content js-hidden">
        @if(appConfig.hasFeature(GetHelpWithThisPageFeature_A)) {
            @views.html.partials.error_feedback_inner(form, actionUrl, csrfToken)
        } else {
            @views.html.partials.error_feedback_inner_b(form, actionUrl, csrfToken)
        }
    </div>
</div>