@(feedbackForm: Form[controllers.FeedbackForm],
  externalFeedbackUrl: String,
  service: Option[String] = None)(implicit request : Request[_], lang : Lang)

@import uk.gov.hmrc.play.views.html.helpers._
@import controllers.FeedbackFormConfig._

@import views.helpers.ServiceParameter.extractServiceParameter

<header class="page-header">
    <h1>@Messages("common.feedback.heading")</h1>
</header>

<form id="feedback-form" action="@externalFeedbackUrl" method="POST" class="form--feedback" novalidate>
    <input type="hidden" name="csrfToken" value="@feedbackForm("csrfToken").value"/>

    <input type="hidden" name="service" value="@extractServiceParameter(feedbackForm, service)"/>

    <fieldset>
        @inputRadioGroup(
        feedbackForm("feedback-rating"),
        feedbackRatings,
        '_legend -> Messages("form.online.services"),
        '_stackedLabel -> true,
        '_labelClass -> "label--inlineRadio--overhead"
        )
        @input(
        feedbackForm("feedback-name"),
        '_label -> Messages("form.name"),
        '_divClass -> "form-field",
        '_inputClass -> "input--fullwidth"
        )
        @input(
        feedbackForm("feedback-email"),
        '_label -> Messages("form.email.address"),
        '_divClass -> "form-field",
        '_inputClass -> "input--fullwidth",
        '_type -> "email"
        )
        @textArea(
        feedbackForm("feedback-comments"),
        '_label -> Messages("form.comments"),
        '_info -> Messages("common.feedback.information.warning"),
        '_divClass -> "form-field char-counter",
        '_inputClass -> "input--fullwidth",
        '_maxlength -> "2000",
        '_dataCharCounter -> "true",
        '_dataCharField -> "true"
        )
        <input type="hidden" name="isJavascript" id="isJavascript" value="@feedbackForm.data.get("isJavascript")">
        <input type="hidden" name="referer" id="referer" value="@feedbackForm.data.get("referer")">

        <div class="form-field">
            <button class="button" type="submit">@Messages("form.send")</button>
        </div>

    </fieldset>
</form>