@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@this(govukInput: GovukInput)

@(
    field: Field,
    inputType: String = "text",
    label: String,
    labelClasses: String = "",
    hint: Option[String] = None,
    classes: String = "",
    spellcheck: Option[Boolean] = None,
    autocomplete: Option[String] = None
)(implicit messages: Messages)
@govukInput(Input(
    id = field.id,
    name = field.name,
    inputType = inputType,
    label = Label(classes = labelClasses, content = Text(label)),
    hint = hint.map(h => Hint(content = Text(h))),
    value = field.value,
    errorMessage = field.error.map(formError =>
        ErrorMessage(content = Text(messages(formError.message, formError.args: _*)))
    ),
    classes = classes,
    spellcheck = spellcheck,
    autocomplete = autocomplete
))
