@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@import config.AppConfig
@import uk.gov.hmrc.hmrcfrontend.views.viewmodels.header.Header
@import uk.gov.hmrc.hmrcfrontend.views.html.helpers.HmrcStandardFooter
@import views.html.partials.LanguageSelection
@import views.html.partials.Head
@import views.html.partials.Scripts
@import uk.gov.hmrc.hmrcfrontend.views.viewmodels.footer.FooterItem

@this(
        govukLayout: GovukLayout,
        hmrcHeader: HmrcHeader,
        hmrcStandardFooter: HmrcStandardFooter,
        hmrcBanner: HmrcBanner,
        head: Head,
        languageSelection: LanguageSelection,
        scripts: Scripts
)

@(pageTitle: String, beforeContent: Option[Html] = None)(contentBlock: Html)(implicit request: RequestHeader, messages: Messages, appConfig: AppConfig)
@import appConfig._

@headerBlock = {
    @hmrcHeader(Header(
        homepageUrl = "https://www.gov.uk/",
        language = if(messages.lang.code == cy) Cy else En,
        displayHmrcBanner = true
    ))
}

@beforeContentBlock = {
    @if(appConfig.enableLanguageSwitching) {
        @languageSelection()
    }
    @beforeContent
}

@govukLayout(
    pageTitle = Some(pageTitle),
    headBlock = Some(head()),
    headerBlock = Some(headerBlock),
    scriptsBlock = Some(scripts()),
    beforeContentBlock = Some(beforeContentBlock),
    footerBlock = Some(hmrcStandardFooter())
)(contentBlock)
