@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@(field : play.api.data.Field,
_id : Option[String] = None,
_label : Option[String] = None,
_maxlength : Option[Int] = None,
_divClass : Option[String] = None,
_inputClass : Option[String] = None,
_hint : Option[String] = None,
_bottomHint: Option[String] = None,
_rows: Option[Int] = None)(implicit lang : Lang, messages : Messages)

@id = @{ _id.getOrElse(field.name) }
<div class="@for(divClass <- _divClass){ @divClass } @if(field.hasErrors){form-field--error}">
        <label for="@id" class="form-label">
                @for(label <- _label) { @label }
                @for(hint <- _hint) { <span class="form-hint">@hint</span> }
                @for(error <- field.errors) { <span class="error-notification">@Messages(error.message)</span> }

                <textarea
                        id="@id"
                        @for(maxLength <- _maxlength) { maxlength = "@maxLength" }
                        @for(inputClass <- _inputClass) { class = "@inputClass" }
                        @for(rows <- _rows) { rows = "@rows" }
                        name="@{field.name}"
                        type="text"
                >@{field.value}</textarea>
                @for(bottomHint <- _bottomHint) { <p>@{bottomHint}</p>}
        </label>
</div>

