@import config.AppConfig
@import model.AccessibilityForm

@(accessibilityForm: Form[AccessibilityForm], submitUrl: String, loggedIn: Boolean = false)(implicit request : Request[_], lang : Lang, messages : Messages, appConfig : AppConfig)

@import uk.gov.hmrc.play.views.html.helpers._

@main(title = Messages("accessibility.heading"), supportLinkEnabled = false, userLoggedIn = loggedIn) {
    @helpers.wcag_style()
    @views.html.partials.accessibility_form(
        accessibilityForm = accessibilityForm,
        submitUrl = submitUrl,
        renderFormOnly = false
    )
}