@import config.AppConfig
@import model.AccessibilityForm

@(accessibilityForm: Form[AccessibilityForm], submitUrl: String, loggedIn: Boolean = false)(implicit request : Request[_], lang : Lang, messages : Messages, appConfig : AppConfig)

@import uk.gov.hmrc.play.views.html.helpers._

@pageTitle = @{
    if(accessibilityForm.hasErrors){Messages("error.browser.title.prefix")+" "+Messages("accessibility.heading")} else Messages("accessibility.heading")
}

@main(title = pageTitle, supportLinkEnabled = false, userLoggedIn = loggedIn, style = Some(helpers.wcag_style.render())) {

    @views.html.partials.accessibility_form(
        accessibilityForm = accessibilityForm,
        submitUrl = submitUrl,
        renderFormOnly = false
    )
}