@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@import uk.gov.hmrc.govukfrontend.views.html.components.{FormWithCSRF => PlayFrontendFormWithCSRF}
@import uk.gov.hmrc.govukfrontend.views.html.components.implicits._
@import model.AccessibilityForm
@import views.html.partials.Layout
@import views.html.partials.InputText
@import views.html.partials.InputHidden
@import views.html.partials.InputCharacterCount
@import views.html.partials.H1
@import views.html.partials.H2
@import views.html.partials.P

@this(
    inputCharacterCount: InputCharacterCount,
    govukInput: GovukInput,
    inputHidden: InputHidden,
    inputText: InputText,
    govukButton: GovukButton,
    govukFieldset: GovukFieldset,
    govukErrorSummary: GovukErrorSummary,
    formWithCSRF: PlayFrontendFormWithCSRF,
    mainLayout: Layout,
    h1: H1,
    h2: H2,
    p: P
)
@(accessibilityForm: Form[AccessibilityForm], action: Call)(implicit request: RequestHeader, messages: Messages, appConfig: AppConfig)

@pageTitle = @{
    if(accessibilityForm.hasErrors){Messages("error.browser.title.prefix")+" "+Messages("accessibility.heading")} else Messages("accessibility.heading")
}

@mainLayout(pageTitle) {
    @if(accessibilityForm.errors.nonEmpty) {
        @govukErrorSummary(ErrorSummary(errorList = accessibilityForm.errors.asTextErrorLinks, title = Text(messages("error.summary.title"))))
    }
    @h1(content = Text(messages("accessibility.heading")))
    @p(content = Text(messages("accessibility.message.para1")))
    @p(content = Text(messages("accessibility.message.para2")))
    @formWithCSRF(action, 'id -> "accessibility-form") {
        @inputHidden(accessibilityForm("service"))
        @inputHidden(accessibilityForm("referrer"))
        @inputHidden(accessibilityForm("userAction"))
        @inputCharacterCount(
            accessibilityForm("problemDescription"),
            label = messages("accessibility.describe.the.problem"),
            labelClasses = "govuk-label--l",
            maxLength = Some(2000),
            classes = "govuk-!-width-two-thirds"
        )
        @h2(content = Text(messages("accessibility.subheading.contact")))
        @inputText(
            accessibilityForm("name"),
            label = messages("form.name"),
            classes = "govuk-!-width-two-thirds"
        )
        @inputText(
            accessibilityForm("email"),
            label = messages("problem_report.email.b"),
            hint = Some(messages("accessibility.hint.contact")),
            classes = "govuk-!-width-two-thirds"
        )
        @govukButton(Button(
            content = Text(messages("form.report.problem")),
            inputType = Some("submit"),
            preventDoubleClick = true
        ))
    }
}
