@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@import views.html.partials.{Layout, Heading2, Paragraph}

@this(govukPanel: GovukPanel, mainLayout: Layout, h2: Heading2, p: Paragraph)
@()(implicit request: RequestHeader, messages: Messages, appConfig: AppConfig)

@mainLayout(pageTitle = Messages("accessibility.heading")) {
    @govukPanel(Panel(title = Text(Messages("accessibility.confirmation.title"))))
    @h2(content = Text(messages("accessibility.confirmation.subheading")))
    @p(content = Text(messages("accessibility.confirmation.paragraph")))
}
