@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@import config.AppConfig
@import model.AccessibilityForm

@this(mainContent: views.html.main, accessibilityFormPartial: views.html.partials.accessibility_form)

@(accessibilityForm: Form[AccessibilityForm], submitUrl: String, loggedIn: Boolean = false)(implicit request : Request[_], lang : Lang, messages : Messages, appConfig : AppConfig)

@import uk.gov.hmrc.play.views.html.helpers._

@pageTitle = @{
    if(accessibilityForm.hasErrors){Messages("error.browser.title.prefix")+" "+Messages("accessibility.heading")} else Messages("accessibility.heading")
}

@mainContent(title = pageTitle, supportLinkEnabled = false, userLoggedIn = loggedIn, style = Some(helpers.wcag_style.render())) {

    @accessibilityFormPartial(
        accessibilityForm = accessibilityForm,
        submitUrl = submitUrl,
        renderFormOnly = false
    )
}