@(contactForm: Form[controllers.ContactForm])(implicit request : Request[_])

@import uk.gov.hmrc.play.views.html.helpers._
@main(title = Messages("contact.heading"), headerNav = Some(views.html.YtaHeaderNav()), supportLinkEnabled = false, userLoggedIn = true) {
    <header class="page-header">
        <h1>@Messages("contact.heading")</h1>
    </header>
    <p>If you have a specific tax query @uk.gov.hmrc.urls.Link.toExternalPage(url = "http://search2.hmrc.gov.uk/kb5/hmrc/contactus/home.page", value = Some("contact HMRC"), dataAttributes = Some(Map("journey-click" -> "contact-page:Click:Contact HMRC"))).toHtml.</p>
    <p>If you need help using your tax account please fill in this form.</p>

    <h2>How can we help you?</h2>
    <p>Don't include any personal or financial information. For example, your National Insurance or credit card numbers.</p>

    @form(action = routes.ContactHmrcController.submit, 'class -> "form--feedback") {
        <fieldset>
            @input(
            contactForm("contact-name"),
            '_label -> "Your name",
            '_divClass -> "form-field",
            '_inputClass -> "input--fullwidth"
            )
            @input(
            contactForm("contact-email"),
            '_label -> "Email address",
            '_divClass -> "form-field",
            '_inputClass -> "input--fullwidth",
            '_type -> "email"
            )
            @textArea(
            contactForm("contact-comments"),
            '_label -> "Your comments",
            '_divClass -> "form-field",
            '_inputClass -> "input--fullwidth",
            '_help -> "2000 Characters max"
            )
            <input type="hidden" name="isJavascript" id="isJavascript" value="@contactForm.data.get("isJavascript")">
            <input type="hidden" name="referer" id="referer" value="@contactForm.data.get("referer")">

            <div class="form-field">
                <button class="button" type="submit">Send</button>
            </div>

        </fieldset>
    }

}