@*
 * Copyright 2021 HM Revenue & Customs
 *
 *@

@import config.AppConfig

@this(mainContent: views.html.main, contactHmrcForm: views.html.partials.contact_hmrc_form)

@(contactForm: Form[controllers.ContactForm], loggedIn : Boolean, reCaptchaComponent: Option[Html] = None)(implicit request : Request[_], lang : Lang, messages : Messages, appConfig : AppConfig)

@import uk.gov.hmrc.play.views.html.helpers._

@mainContent(title = Messages("contact.heading"), supportLinkEnabled = false, userLoggedIn = loggedIn) {
    @if(loggedIn) {
        @contactHmrcForm(contactForm, routes.ContactHmrcController.submit.url)
    } else {
        @contactHmrcForm(
            contactForm            = contactForm,
            externalContactHmrcUrl = routes.ContactHmrcController.submitUnauthenticated.url,
            renderFormOnly         = false,
            reCaptchaComponent     = reCaptchaComponent
        )
    }
}
