@(feedbackForm: Form[controllers.FeedbackForm],
  user: Option[uk.gov.hmrc.play.frontend.auth.AuthContext],
  service: Option[String] = None)(implicit request : Request[_], lang : Lang)

@import uk.gov.hmrc.play.views.html.helpers._

@main(title = Messages("common.feedback.heading"), userLoggedIn = user.isDefined) {

    @defining(user.map{_ => routes.FeedbackController.submit}.getOrElse(routes.FeedbackController.submitUnauthenticated))  { call =>
        @views.html.partials.feedback_form(feedbackForm, call.url, service)
    }

}