@*
 * Copyright 2021 HM Revenue & Customs
 *
 *@

@import config.AppConfig

@this(mainContent: views.html.main, feedbackPartialForm: views.html.partials.feedback_form)

@(feedbackForm: Form[model.FeedbackForm],
  loggedIn : Boolean,
  service: Option[String] = None,
  backUrl: Option[String] = None,
  canOmitComments : Boolean)(implicit request : Request[_], lang : Lang, messages : Messages, appConfig : AppConfig)

@import uk.gov.hmrc.play.views.html.helpers._

@mainContent(title = Messages("feedback.heading"), userLoggedIn = loggedIn) {

    @if(loggedIn) {
        @feedbackPartialForm(feedbackForm, routes.FeedbackController.submitDeprecated.url, service, backUrl, canOmitComments)
    } else {
        @feedbackPartialForm(feedbackForm, routes.FeedbackController.submitUnauthenticatedDeprecated.url, service, backUrl, canOmitComments)
    }
}