@*
 * Copyright 2021 HM Revenue & Customs
 *
 *@

@import views.html.partials.Layout

@this(govukPanel: GovukPanel, govukBackLink: GovukBackLink, mainLayout: Layout)
@(backUrl: Option[String] = None)(implicit request: RequestHeader, messages: Messages, appConfig: AppConfig)

@mainLayout(pageTitle = messages("feedback.confirmation.heading")) {
  @govukPanel(Panel(title = Text(messages("feedback.confirmation.message"))))
  @backUrl.map { url =>
    <a class="govuk-link" href="@url">@messages("feedback.confirmation.back")</a>
  }
}
