@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@import views.html.partials.{Layout, Heading2, Paragraph}

@this(govukPanel: GovukPanel, govukBackLink: GovukBackLink, mainLayout: Layout, h2: Heading2, p: Paragraph)
@(backUrl: Option[String] = None)(implicit request: RequestHeader, messages: Messages, appConfig: AppConfig)

@backLink = {
  @backUrl.map { url =>
    @govukBackLink(BackLink(
      href = url,
      content = Text(messages("button.back"))
    ))
  }
}

@mainLayout(pageTitle = messages("feedback.confirmation.heading"), beforeContent = Some(backLink)) {
  @govukPanel(Panel(title = Text(messages("feedback.confirmation.message"))))
}
