@(appConfig: config.AppConfig,
  title: String,
  bodyClasses: Option[String] = None,
  contentHeader: Option[Html] = None,
  mainContent: Html = HtmlFormat.empty,
  userLoggedIn: Boolean = true,
  getHelpForm: Html  = HtmlFormat.empty, enableLanguageSwitching : Boolean)(implicit request: Request[_], messages : Messages)

@import layouts.{govuk_template => hmrcGovUkTemplate}
@import uk.gov.hmrc.play.views.html.{layouts => uiLayouts}

@head = {
    @uiLayouts.head(
      linkElem = None,
      headScripts = None)
    <meta name="format-detection" content="telephone=no" />
}

@insideHeader = {}

@afterHeader = {}

@bodyEnd = {
    @uiLayouts.footer(
      analyticsToken = Some(appConfig.analyticsToken),
      analyticsHost = appConfig.analyticsHost,
      ssoUrl = None,
      scriptElem = None,
      gaCalls = None)
}

@footerTop = {}
@footerLinks = {}

@serviceInfo = {
    @uiLayouts.serviceInfo(
      betaBanner = HtmlFormat.empty,
      includeGridWrapper = false,
      serviceInfoContent = None)
}

@mainContentHeader = {
    @if(contentHeader.isDefined) {
        @uiLayouts.main_content_header(contentHeader = contentHeader.get)
    }
}

@content = {
    @uiLayouts.main_content(
      article = mainContent,
      mainContentHeader = mainContentHeader,
      serviceInfo = serviceInfo,
      getHelpForm = getHelpForm)
}

@hmrcGovUkTemplate(Some(title), bodyClasses)(head, bodyEnd, insideHeader, HtmlFormat.empty, footerTop, Some(uiLayouts.footer_links(Some(partials.language_selection(enableLanguageSwitching)))),true)(content)
