@(title: String,
  bodyClasses: Option[String] = None,
  contentHeader: Option[Html] = None,
  mainContent: Html = HtmlFormat.empty,
  userLoggedIn: Boolean = true,
  getHelpForm: Html  = HtmlFormat.empty,
  enableLanguageSwitching : Boolean,
  style: Option[Html] = None)(implicit request: Request[_], lang : Lang, messages : Messages, appConfig: config.AppConfig)

@import layouts.{govuk_template => hmrcGovUkTemplate}
@import uk.gov.hmrc.play.views.html.{layouts => uiLayouts}

@head = {
    @uiLayouts.head(
      linkElem = style,
      headScripts = None)
    <meta name="format-detection" content="telephone=no" />
}

@insideHeader = {
    <div class="header-proposition">
        <div class="content">
            <nav id="proposition-menu" class="header__menu" role="navigation">
                <ul id="proposition-links" class="header__menu__proposition-links">
                    @partials.language_selection(enableLanguageSwitching)
                </ul>
            </nav>
        </div>
    </div>

}

@afterHeader = {}

@bodyEnd = {
    @uiLayouts.footer(
      analyticsToken = Some(appConfig.analyticsToken),
      analyticsHost = appConfig.analyticsHost,
      ssoUrl = None,
      scriptElem = None,
      gaCalls = None)
}



@footerTop = {}
@footerLinks = {}

@serviceInfo = {
    @uiLayouts.serviceInfo(
      betaBanner = HtmlFormat.empty,
      includeGridWrapper = false,
      serviceInfoContent = None)
}

@mainContentHeader = {
    @if(contentHeader.isDefined) {
        @uiLayouts.main_content_header(contentHeader = contentHeader.get)
    }
}

@content = {
    @uiLayouts.main_content(
      article = mainContent,
      mainContentHeader = mainContentHeader,
      serviceInfo = serviceInfo,
      getHelpForm = getHelpForm)
}

@hmrcGovUkTemplate(Some(title), bodyClasses)(head, bodyEnd, insideHeader, afterHeader, footerTop, Some(uiLayouts.footer_links(None)) ,true)(content)
