@*
 * Copyright 2021 HM Revenue & Customs
 *
 *@

@import views.html.partials.{Layout, Heading1, Paragraph}

@this(
    mainLayout: Layout,
    h1: Heading1,
    p: Paragraph
)
@()(implicit request: RequestHeader, messages: Messages, appConfig: AppConfig)
@defining(messages("deskpro.error.page.title")) { pageTitle =>
  @mainLayout(pageTitle, isWelshTranslationAvailable = true) {
    @h1(content = Text(messages("deskpro.error.page.heading")))
    @p(content = Text(messages("deskpro.error.try.later")))
    @p(content = Text(messages("deskpro.error.not.sent")))
  }
}
