@import config.AppConfig
@import uk.gov.hmrc.play.views.html.layouts

@(
  title: String,
  userLoggedIn: Boolean = true, 
  supportLinkEnabled: Boolean = true, 
  bodyClasses: Option[String] = None,
  service: Option[String] = None)(mainContent: Html)(implicit request : Request[_], lang : Lang, messages : Messages, appConfig : AppConfig)



@getHelpForm = {
  @if(supportLinkEnabled) {
    @partials.error_feedback(
      form = controllers.ProblemReportForm.emptyForm(service = service),
      actionUrl=appConfig.externalReportProblemSecureUrl,
      csrfToken=play.filters.csrf.CSRF.getToken(request).map(_.value),
      service=service)
  }
}

@govuk_wrapper(
  title = title,
  bodyClasses = bodyClasses,
  mainContent = layouts.article(mainContent),
  userLoggedIn = userLoggedIn,
  getHelpForm = getHelpForm,
  enableLanguageSwitching = appConfig.enableLanguageSwitching)
