@*
 * Copyright 2021 HM Revenue & Customs
 *
 *@

@import config.AppConfig
@import uk.gov.hmrc.play.views.html.{layouts => uiLayouts}

@this(govUkWrapper: views.html.govuk_wrapper, layoutsArticle: uiLayouts.Article, errorFeedback: partials.error_feedback)

@(
  title: String,
  userLoggedIn: Boolean = true, 
  supportLinkEnabled: Boolean = true, 
  bodyClasses: Option[String] = None,
  service: Option[String] = None, style: Option[Html] = None)(mainContent: Html)(implicit request : Request[_], lang : Lang, messages : Messages, appConfig : AppConfig)



@getHelpForm = {
  @if(supportLinkEnabled) {
    @errorFeedback(
      form = controllers.ProblemReportForm.emptyForm(service = service),
      actionUrl=appConfig.externalReportProblemSecureUrl,
      csrfToken=play.filters.csrf.CSRF.getToken(request).map(_.value),
      service=service,
      referrer=None)
  }
}

@govUkWrapper(
  title = title,
  bodyClasses = bodyClasses,
  mainContent = layoutsArticle(mainContent),
  userLoggedIn = userLoggedIn,
  getHelpForm = getHelpForm,
  enableLanguageSwitching = appConfig.enableLanguageSwitching,
  style = style)
