@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@this(mainContent: views.html.main, ticketCreatedBody: views.html.ticket_created_body)

@(ticketId: String, thankYouMessage: Option[String])(implicit request : Request[_], lang : Lang, messages : Messages, appConfig: config.AppConfig)

@pageTitle = @{Messages("common.thank.you")}
@mainContent(title = pageTitle, supportLinkEnabled = false)  {
<header class="page-header">
    <h1>@pageTitle</h1>
</header>
    <article id="report-confirmation">
        @ticketCreatedBody(ticketId, thankYouMessage)
    </article>

}
