@(form : Form[controllers.ProblemReport], actionUrl: String)(implicit request : Request[_], lang : Lang, messages : Messages, appConfig: config.AppConfig)
@import uk.gov.hmrc.play.views.html._
@import play.filters.csrf.CSRF
@import util.GetHelpWithThisPageFeature_B

@main(title = "", supportLinkEnabled = false) {

        <div>
            <div class="report-error__content">
                @if(appConfig.hasFeature(GetHelpWithThisPageFeature_B)) {
                    @views.html.partials.error_feedback_inner_b(form, actionUrl, CSRF.getToken(request).map(_.value))
                } else {
                    @views.html.partials.error_feedback_inner(form, actionUrl, CSRF.getToken(request).map(_.value))
                }
            </div>
        </div>

}
