@*
 * Copyright 2021 HM Revenue & Customs
 *
 *@

@import views.html.partials.{Layout, InputText, InputHidden, InputCharacterCount, Heading1, Heading2, Paragraph}

@this(
    mainLayout: Layout,
    h1: Heading1,
    h2: Heading2,
    p: Paragraph
)
@()(implicit request: RequestHeader, messages: Messages, appConfig: AppConfig)

@pageTitle = @{
    Messages("common.problem_report.error_nojavascript_title")
}

@mainLayout(pageTitle) {

    @h1(content = Text(pageTitle))

    @p(content = Text(messages("please.try.later")))

}
