@*
 * Copyright 2021 HM Revenue & Customs
 *
 *@

@import views.html.partials.{Layout, Heading1, Heading2, Paragraph}

@this(
    mainLayout: Layout,
    h1: Heading1,
    h2: Heading2,
    p: Paragraph
)
@()(implicit request: RequestHeader, messages: Messages, appConfig: AppConfig)

@pageTitle = @{
    Messages("contact.heading")
}

@mainLayout(pageTitle) {

    @h1(content = Text(pageTitle))
    @h2(content = Text(messages("common.thank.you")))

    @p(content = Text(messages("contact.confirmation.message")))

}
