@*
 * Copyright 2021 HM Revenue & Customs
 *
 *@

@this(mainContent: views.html.main, feedbackFormInner: views.html.partials.error_feedback_inner)

@(form : Form[model.ProblemReport], actionUrl: String, service : Option[String], referrer : Option[String])(implicit request : Request[_], lang : Lang, messages : Messages, appConfig: config.AppConfig)
@import uk.gov.hmrc.play.views.html._
@import play.filters.csrf.CSRF

@mainContent(title = messages("common.feedback.htmltitle"), supportLinkEnabled = false) {

        <div>
            <div class="report-error__content">
                @feedbackFormInner(form, actionUrl, CSRF.getToken(request).map(_.value), service, referrer)
            </div>
        </div>

}
