@()(implicit request : Request[_])


@main(title = "Survey", bodyClasses = Some("full-width")) {

	<header class="page-header">
		<h1>Survey</h1>
	</header>

	<form action="" class="form">

		<fieldset class="form-field-group">
		    <legend class="float--none">Did you find the answer we gave you helpful?</legend>
		    <label class="block-label--stacked" for="helpful-strongly-agree">
		        <input type="radio" id="helpful-strongly-agree" name="helpful" value="5">
		        Strongly Agree
		    </label>
		    <label class="block-label--stacked" for="helpful-agree">
		        <input type="radio" id="helpful-agree" name="helpful" value="4">
		        Agree
		    </label>
		    <label class="block-label--stacked" for="helpful-neutral">
		        <input type="radio" id="helpful-neutral" name="helpful" value="3">
		        Neutral
		    </label>
		    <label class="block-label--stacked" for="helpful-disagree">
		        <input type="radio" id="helpful-disagree" name="helpful" value="2">
		        Disagree
		    </label>
		    <label class="block-label--stacked" for="helpful-strongly-disagree">
		        <input type="radio" id="helpful-strongly-disagree" name="helpful" value="1">
		        Strongly Disagree
		    </label>
		</fieldset>

		<fieldset class="form-field-group">
		    <legend class="float--none">Were you satisfied with the speed of our reply?</legend>
		    <label class="block-label--stacked" for="speed-strongly-agree">
		        <input type="radio" id="speed-strongly-agree" name="speed" value="5">
		        Strongly Agree
		    </label>
		    <label class="block-label--stacked" for="speed-agree">
		        <input type="radio" id="speed-agree" name="speed" value="4">
		        Agree
		    </label>
		    <label class="block-label--stacked" for="speed-neutral">
		        <input type="radio" id="speed-neutral" name="speed" value="3">
		        Neutral
		    </label>
		    <label class="block-label--stacked" for="speed-disagree">
		        <input type="radio" id="speed-disagree" name="speed" value="2">
		        Disagree
		    </label>
		    <label class="block-label--stacked" for="speed-strongly-disagree">
		        <input type="radio" id="speed-strongly-disagree" name="speed" value="1">
		        Strongly Disagree
		    </label>
		</fieldset>

		<div class="form-field-group">
			<legend class="float--none" for="improve">Tell us how we can improve the support we give you.</legend>
		    <textarea maxlength="2500" id="improve" name="improve" cols="40" rows="6"></textarea>
		    <p class="push--top"><small>2500 characters or less</small></p>
		</div>

		<button type="submit" class="button">Submit</button>
		
	</form>

}