@*
 * Copyright 2021 HM Revenue & Customs
 *
 *@

@import uk.gov.hmrc.play.views.html.helpers.FormWithCSRF

@this(mainContent: views.html.main, helpersForm: uk.gov.hmrc.play.views.html.helpers.FormWithCSRF)

@(ticketId: String, serviceId: String)(implicit request : Request[_], lang : Lang, messages : Messages, appConfig: config.AppConfig)


@mainContent(title = Messages("survey.title"), bodyClasses = Some("full-width")) {

	<header class="page-header">
		<h1>@Messages("survey.title")</h1>
	</header>

	@helpersForm(action=controllers.routes.SurveyController.submit, 'class -> "form") {

        <input type="hidden" value="@ticketId" id="ticket-id" name="ticket-id">
        <input type="hidden" value="@serviceId" id="service-id" name="service-id">


		<fieldset class="form-field-group">
		    <legend class="float--none">@Messages("survey.was.answer.helpful.question")</legend>
		    <label class="block-label--stacked" for="helpful-strongly-agree">
		        <input type="radio" id="helpful-strongly-agree" name="helpful" value="5">
				@Messages("survey.strongly.agree.response")
		    </label>
		    <label class="block-label--stacked" for="helpful-agree">
		        <input type="radio" id="helpful-agree" name="helpful" value="4">
				@Messages("survey.agree.response")
		    </label>
		    <label class="block-label--stacked" for="helpful-neutral">
		        <input type="radio" id="helpful-neutral" name="helpful" value="3">
				@Messages("survey.neutral.response")
		    </label>
		    <label class="block-label--stacked" for="helpful-disagree">
		        <input type="radio" id="helpful-disagree" name="helpful" value="2">
				@Messages("survey.disagree.response")
		    </label>
		    <label class="block-label--stacked" for="helpful-strongly-disagree">
		        <input type="radio" id="helpful-strongly-disagree" name="helpful" value="1">
				@Messages("survey.strongly.disagree.response")
		    </label>
		</fieldset>

		<fieldset class="form-field-group">
		    <legend class="float--none">@Messages("survey.satisfied.with.speed.question")</legend>
		    <label class="block-label--stacked" for="speed-strongly-agree">
		        <input type="radio" id="speed-strongly-agree" name="speed" value="5">
				@Messages("survey.strongly.agree.response")
		    </label>
		    <label class="block-label--stacked" for="speed-agree">
		        <input type="radio" id="speed-agree" name="speed" value="4">
				@Messages("survey.agree.response")
		    </label>
		    <label class="block-label--stacked" for="speed-neutral">
		        <input type="radio" id="speed-neutral" name="speed" value="3">
				@Messages("survey.neutral.response")
		    </label>
		    <label class="block-label--stacked" for="speed-disagree">
		        <input type="radio" id="speed-disagree" name="speed" value="2">
				@Messages("survey.disagree.response")
		    </label>
		    <label class="block-label--stacked" for="speed-strongly-disagree">
		        <input type="radio" id="speed-strongly-disagree" name="speed" value="1">
				@Messages("survey.strongly.disagree.response")
		    </label>
		</fieldset>

		<div class="form-field-group">
			<legend class="float--none" for="improve">@Messages("survey.tell.us.how.we.can.improve")</legend>
		    <textarea maxlength="2500" id="improve" name="improve" cols="40" rows="6"></textarea>
		    <p class="push--top"><small>@Messages("survey.2500.characters.or.less")</small></p>
		</div>

		<button id="submit-survey-button" type="submit" class="button">@Messages("survey.submit")</button>
		
	}

}